<nb-card>
    <nb-card-body fxLayout="column" fxLayoutGap="10px">
        <a [routerLink]="['post', post.id]">{{ post.title }}</a>
        <nb-user [name]="post.user.username"></nb-user>
        <span>{{ post.content | truncate: 200:'...' }}</span>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <nb-actions>
                <nb-action
                    [badgeText]="post.counterComments.toString()"
                    [title]="post.counterComments + 'comments'"
                    icon="message-circle"
                ></nb-action>
            </nb-actions>
            <agora-ranking [ranking]="post.ranking"></agora-ranking>
        </div>
    </nb-card-body>
</nb-card>
