<nb-card>
    <nb-card-header>Write comment</nb-card-header>
    <nb-card-body fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="50" fxLayout="column" fxLayoutAlign="center">
            <agora-text-area fxFlex="50" [formControl]="commentControl" placeholder="Comment"></agora-text-area>
            <button (click)="createComment()" [disabled]="commentControl.invalid" nbButton shape="round" status="primary">
                Create Comment
            </button>
        </div>
    </nb-card-body>
</nb-card>
