<div fxLayout="row" fxLayoutAlign="space-between center">
    <h1>
        <a routerLink="/">Agora</a>
    </h1>
    <nb-actions *ngIf="!(isLogged$ | async)">
        <nb-action icon="log-in" title="Sign In" link="/login/sign-in"></nb-action>
        <nb-action icon="person-add" title="Register" link="/login/register"></nb-action>
    </nb-actions>
    <div *ngIf="isLogged$ | async" fxLayout="row">
        <nb-actions>
            <nb-action icon="plus" title="Create Post" link="/post/new"></nb-action>
        </nb-actions>
        <nb-user [name]="(profile$ | async).username"></nb-user>
    </div>
</div>
