@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

nb-user {
    cursor: pointer;
}

$nb-themes: nb-register-theme((
    card-margin-bottom: 0rem
), default, default);
